.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
}

.title-home {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  text-shadow: 2px 2px 4px rgba(82, 82, 82, 0.459);
  color: rgb(0, 0, 0);
}
.not-found {
  display: flex;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  background-color: rgb(239, 237, 237);
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: rgb(255, 179, 3);
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
  border: none;
}

.pagination button.active {
  background-color: #ff6600;
  color: #ffffff;
}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #ff6600;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.order-select,
.filter-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.order-select select,
.filter-select select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 16px;
  color: #555;
  font-family: 'Arial', sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100px;
}

.order-select select:focus,
.filter-select select:focus {
  outline: none;
  border-color: #aaa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.order-select select option,
.filter-select select option {
  background-color: #fff;
  color: #555;
}

.order-select select option:hover,
.filter-select select option:hover {
  background-color: #f1f1f1;
}

.order-select select option:checked,
.filter-select select option:checked {
  background-color: #ddd;
}
